body 
{
	background: #f8f8f8;
}

.header
{
	color: #463F3F;
	height: 45px;  
	font-size: 60px;
	text-align: center; 
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu
{
	text-align: center; 
	padding-top: 20px;
	font-size: 35px; 
}

h3
{
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color:  #eaeaea;
	text-align: left;
	padding-left: 30px;
}

h3 + p, h3 + ul
{
	padding-left: 50px;
}

.map
{
	text-align: left;
	padding: 40px;
}

table
{
	background-image: url(../images/table-background.png);
	background-size: 100%;
	background-position: 0px -500px;
}

.helloTable
{
	width: 90%;
	padding: 10px;
	border-collapse: collapse;
	border: 3px solid #463F3F;
}

.helloTable p
{
	font-size: 30px;
	text-align: center;
	color: #463F3F;
	padding-top: 100px;
	padding-bottom: 100px;
}

.helloTable p img
{
	width: 30px;
	background: #f8f8f8; 
}

.contactsTable
{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	padding-bottom: 100px; 
}
.contactsTable tr
{
	height: 600px;
	border: 3px solid #463F3F;
}

.contactsTable th
{
	border: 3px solid #463F3F;
}

.feedback
{
	color: black;
	text-align: left;
	font-size: 15px;
	text-align: center;
}

.feedback h2
{
	font-size: 30px;
	padding-bottom: 20px;
}

.feedback form p input
{
	color: #676767;
	font-size: 20px;
	width:90%;
	text-align: center;
	height: 30px;
}

.feedback form p textarea
{
	text-align: left;
	color: #707070;
	font-size: 16px;
	width:90%;
	resize: none;
	height: 150px;
}

.feedback form p
{
	padding-bottom: 10px;
}

.button
{
	color: #463F3F;
	text-decoration: none;
	border-left: 3px solid #463F3F;  
	border-right: 3px solid #463F3F; 
	border-bottom: 1px solid #463F3F;
	border-top: 1px solid #463F3F;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 60px;
	border-top-right-radius: 10px;
	border-top-left-radius: 60px;
	background-color: #E0E0E0; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-right: 5%;
	padding-left: 5%;
}


.productTable
{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.productTable tr
{
	border: 3px solid #463F3F;
}

.productTable th
{
	border: 0;
	font-size: 24px;
	color: #463F3F;
}

.productTable img
{
	width: 400px;
}

.button
{
	text-decoration: none;
	color: #463F3F;
	text-decoration: none;
	border-left: 3px solid #463F3F;  
	border-right: 3px solid #463F3F; 
	border-bottom: 0.5px solid #463F3F;
	border-top: 0.5px solid #463F3F;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 60px;
	border-top-right-radius: 10px;
	border-top-left-radius: 60px;
	background-color: #E0E0E0; 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px; 
	padding-right: 30px; 
}

.shortDescription
{
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.fullDescription
{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 34px;
	text-align: left;
}

.fullDescription + p
{
	padding-bottom: 100px;
}


.specifications
{
	color: #777777; 
	font-weight: 800;
	list-style-image: url(../images/galka.png); 
}

.product
{
	display:block;
	margin:auto;
	text-align: center;
}

.product img
{
	width: 800px;
	outline: 10px solid #777777;
}

.innerSpecifications
{
	color: #919191; 
	font-weight: 800;
	list-style-image: url(../images/arrow.png); 
	font-style: italic;
	font-size: 13px;
}

.footer
{
	text-align: center;
	background-color: #5E5E5E;
	padding-top: 20px; 
	padding-bottom: 20px; 
	width: 100%;
	position: fixed;  
	bottom : 0; 
	font-size: 14px;
}

.footer a
{
	text-decoration: none;
}