@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&family=Russo+One&family=Seymour+One&display=swap');
body
{
	background-image: url(../images/table-background1.png);
	margin: 0;
}

.container
{
	position: relative;
	width: 1200px;
	min-height: 1000px;
	margin: 0 auto;
	font-family: 'Russo One', sans-serif;
}
.content
{
	width: 100%;
	min-height: 570px;
	background-color: #F4FFE26B;
	/*padding-bottom: 70px;*/
}

.footer
{
	position: absolute;
	text-align: center;
	padding-top: 20px; 
	padding-bottom: 20px;
	width: 100%;
	bottom : 0px; 
	font-size: 14px;
	background-color: #285A84FF;
	color: #85C872FF;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

.footer a
{
	text-decoration: underline;
	color: #C2EF7EFF;
}

.welcome 
{
	margin: 0 auto;
	padding-top: 50px;
	font-size: 25px;
	color: #5286B0FF;
	text-align: center;
	letter-spacing: 3px; 
}


.header
{
	width: 100%;
	height: 300px;
	background: #F4FFE2FF;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 310px;
	background-position: 50%;
}

.cell
{
	display: table-cell;
	vertical-align: middle;
}

.headerCell
{
	width: 550px;
	height: inherit;
}

.left
{
	text-align: left;
}

.right
{
	text-align: right;
}

.headerCell p
{
	color: #5286B0FF;
	font-size: 18px;
}

.menu
{
	width: 100%;
	height: 75px;
	background-color: #85C872AA; 
}

.menuCell
{
	width: 400px;
	height: 75px;
	/*outline: 1px solid blue;*/
}

.menuCell a
{
	text-decoration: none;
	color: #5286B0FF;
	font-size: 30px;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-right: 133px;
	padding-left: 133px;
}

.menuCell a:hover
{
	background-color: #C2EF7EFF;
}

.contactsContentCellHeader
{
	width: 90%;
	height: 50px;
	font-size: 20px;
}

.contactsContentCell
{
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	color:  #285A84FF;
}

.button
{
	color:  #5286B0FF;
	background-color: #9BCE80AA; 
	border: 1px solid #5286B0FF;
	border-radius: 20px;
	font-family: 'Russo One', sans-serif;
	text-decoration: none;
}

.button:hover
{
	background-color: #C2EF7EFF;
}

.button:focus
{
	outline: none;
}

.button:active
{
	background-color: #F4FFE2FF;
}

.feedback .button
{
	height: 30px;
	width: 150px;
	font-size: 16px;
	margin: 10px;
}

.feedback p
{
	margin: 0 auto;
	letter-spacing: 1.5px;
}

.feedback p input, .feedback p textarea
{
	width: 90%;
	height: 25px;
	padding: 0;
	margin: 3px;
	text-transform: capitalize;
	font-size: 16px;
	border: 1px solid #5286B0FF;
}

.feedback p input
{
	text-align: center;
	letter-spacing: 1.5px;
	font-weight: 500;
}

.feedback form p textarea
{
	text-align: left;
	color: #285A84;
	resize: none;
	height: 150px;
}

.feedback p input:focus, .feedback p textarea:focus
{
	color: #549C3E;
	background-color: #F4FFE2;
	outline: 3px solid #285A84 !important;
}

.inputEmail
{
	text-transform: none !important; 
}

.drawingMap, .feedback
{
	width: 540px;
	height: 400px;
}

.drawingMap
{
	outline: 1px solid #463F3F;
}

.productTile
{
	padding-top: 15px;
	padding-bottom: 67px;
}

.product
{
	margin: 0 auto;
}

.product img:hover
{
	opacity: 0.75;
	height: 160px;
	width: 370px;
	margin: 5px;
}

.product img
{
	width: 380px;
	height: 170px;
}

.details
{
	width: 95%;
	color: #285A84FF;
	text-align: justify;
	padding: 10px;
}

.details p:first-letter
{
	padding-left: 30px;
}

.details h3
{
	padding-top: 20px;
}

.details h3, .details p
{
	margin: 0;
}

.productImage
{
	float: left;
	width: 60%;
	height: 350px;
	padding: 20px;
}

.productImage a img
{
	width: 100%;
	margin-bottom: 20px;
	outline: 5px solid #777777AA;
}

.productImage .button
{
	text-align: center;
	font-size: 50px;
	padding-left: 250px;
	padding-right: 250px;
}

.productImage a img:hover
{
	outline: none;
}

.technicalParameters, .fullDescription
{
	width: 100%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fullDescription
{
	margin-bottom: 70px;
}

.specifications
{
	font-weight: 800;
	list-style-image: url(../images/galka.png); 
}

.innerSpecifications
{ 
	font-weight: 800;
	list-style-image: url(../images/arrow.png); 
	font-style: italic;
	font-size: 13px;
}